In [5]:
import pandas as pd
from sqlalchemy import create_engine,text
# pass the connection string and connect to the PostgreSQL server
database_url = "postgresql+psycopg2://postgres:123@localhost:5432/Project"
engine = create_engine(database_url)
connection = engine.connect()

In [7]:
create_tables_sql = """
CREATE TABLE offices (
    office_id INT PRIMARY KEY,
    address VARCHAR(500),
    city VARCHAR(100),
    state VARCHAR(100)
);

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(50),
    contact_number VARCHAR(20),
    address VARCHAR(500),
    agent VARCHAR(5),
    employment_status VARCHAR(50) CHECK (employment_status IN ('full-time', 'part-time')),
    education VARCHAR(100),
    monthly_salary NUMERIC(10,2),
    position VARCHAR(100),
    office_id INT,
    FOREIGN KEY (office_id) REFERENCES offices (office_id)
);

CREATE TABLE properties (
    property_id INT PRIMARY KEY,
    address VARCHAR(500),
    city VARCHAR(100),
    state VARCHAR(100),
    bedroom_num INT,
    bathroom_num INT,
    sqft NUMERIC(10,2),
    floor INT,
    elevator VARCHAR(10),
    washer_dryer VARCHAR(10),
    air_conditioner VARCHAR(10),
    age NUMERIC(4,1)
   );

CREATE TABLE property_owners (
    owner_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100),
    contact_number VARCHAR(50),
    current_address VARCHAR(500)
    );

CREATE TABLE listings (
    listing_id SERIAL PRIMARY KEY,
    property_id INT NOT NULL,
    owner_id INT NOT NULL,
    employee_id INT NOT NULL,
    listing_date DATE NOT NULL,
    listing_price DECIMAL(15, 2) NOT NULL,
    listing_type VARCHAR(50) CHECK (listing_type IN ('sell', 'rent')),
    status VARCHAR(50) CHECK (status IN ('Available', 'Pending', 'Not Available')) NOT NULL,
    FOREIGN KEY (property_id) REFERENCES properties(property_id),
    FOREIGN KEY (owner_id) REFERENCES property_owners(owner_id),
    FOREIGN KEY (employee_id) REFERENCES employees(employee_id)
);

CREATE TABLE clients (
    client_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100),
    contact_number VARCHAR(50),
    current_address VARCHAR(500)
    );

CREATE TABLE client_preferences (
    client_id INT PRIMARY KEY,
    preferred_location VARCHAR(100),
    min_budget DECIMAL(20, 2),
    max_budget DECIMAL(20, 2),
    dealing_type VARCHAR(50) CHECK (Dealing_Type IN ('buy', 'rent')),
    property_type VARCHAR(50),
    bedrooms INT,
    bathrooms INT,
    FOREIGN KEY (client_id) REFERENCES clients(client_id)
);

CREATE TABLE rental_leases (
    lease_id SERIAL PRIMARY KEY,
    listing_id INT,
    client_id INT NOT NULL,
    lease_start DATE NOT NULL,
    lease_end DATE NOT NULL,
    FOREIGN KEY (listing_id) REFERENCES listings(listing_id),
    FOREIGN KEY (client_id) REFERENCES clients(client_id)
);

CREATE TABLE sale_contracts (
    contract_id SERIAL PRIMARY KEY,
    listing_id INT,
    client_id INT NOT NULL,
    signing_date DATE NOT NULL,
    FOREIGN KEY (listing_id) REFERENCES listings(listing_id),
    FOREIGN KEY (client_id) REFERENCES clients(client_id)
);

CREATE TABLE open_houses (
    openhouse_id SERIAL PRIMARY KEY,
    property_id INT,
    date DATE NOT NULL,
    start_time TIME NOT NULL,
    end_time TIME NOT NULL,
    FOREIGN KEY (property_id) REFERENCES properties(property_id)
);

CREATE TABLE appointments (
    appointment_id SERIAL PRIMARY KEY,
    client_id INT NOT NULL,
    property_id INT NOT NULL,
	employee_id INT NOT NULL,
    appointment_date TIMESTAMP NOT NULL,
    status VARCHAR(20) DEFAULT 'Scheduled',
    FOREIGN KEY (client_id) REFERENCES clients(client_id),
    FOREIGN KEY (employee_id) REFERENCES employees(employee_id),
    FOREIGN KEY (property_id) REFERENCES properties(property_id)
);

CREATE TABLE schools (
    school_id SERIAL PRIMARY KEY,
    school_name VARCHAR(100) NOT NULL,
    address VARCHAR(255) NOT NULL,
    rating DECIMAL(2, 1) CHECK (rating >= 0 AND rating <= 5)
);

CREATE TABLE school_property (
    school_id INT,
    property_id INT,
    distance INT CHECK (distance >= 0),
    PRIMARY KEY (school_id, property_id),
    FOREIGN KEY (school_id) REFERENCES schools(school_id),
    FOREIGN KEY (property_id) REFERENCES properties(property_id)
);

CREATE TABLE amenities (
    amenity_id SERIAL PRIMARY KEY,
    amenity_type VARCHAR(50) NOT NULL
);

CREATE TABLE amenity_property (
    amenity_id INT,
    property_id INT,
    distance INT CHECK (distance >= 0),
    PRIMARY KEY (amenity_id, property_id),
    FOREIGN KEY (amenity_id) REFERENCES amenities(amenity_id),
    FOREIGN KEY (property_id) REFERENCES properties(property_id)
);

CREATE TABLE rental_commissions (
    rental_commission_id SERIAL PRIMARY KEY,
    lease_id INT NOT NULL,
    commission_amount DECIMAL(15, 2) NOT NULL CHECK (commission_amount >= 0),
    date_issued DATE NOT NULL,
    status VARCHAR(20) DEFAULT 'Pending',
    FOREIGN KEY (lease_id) REFERENCES rental_leases(lease_id)
);

CREATE TABLE sale_commissions (
    commission_id SERIAL PRIMARY KEY,
    contract_id INT NOT NULL,
    commission_amount DECIMAL(15, 2) NOT NULL CHECK (commission_amount >= 0),
    date_issued DATE NOT NULL,
    status VARCHAR(20) DEFAULT 'Pending',
    FOREIGN KEY (contract_id) REFERENCES sale_contracts(contract_id)
);

CREATE TABLE office_expenses (
    expense_id INT PRIMARY KEY,
    office_id INT,
    expense_type VARCHAR(100),
    budget_allocation DECIMAL(10, 2),
    actual_spending DECIMAL(10, 2),
    expense_date DATE,
    FOREIGN KEY (office_id) REFERENCES offices(office_id)
);

CREATE TABLE total_income (
    income_id INT PRIMARY KEY,
    office_id INT,
    income_date DATE,
    income_type VARCHAR(50) CHECK (income_type IN ('sale', 'rent', 'other')),
    sale_income_amount DECIMAL(10,2),
    contract_id INT,
    rent_income_amount DECIMAL (10,2),
    lease_id INT,
    other_income_amount DECIMAL(10,2),
    CHECK (NOT (sale_income_amount IS NOT NULL AND rent_income_amount IS NOT NULL)),
    CHECK (NOT (sale_income_amount IS NOT NULL AND other_income_amount IS NOT NULL)),
    CHECK (NOT (rent_income_amount IS NOT NULL AND other_income_amount IS NOT NULL)),
    CHECK (NOT (contract_id IS NOT NULL AND lease_id IS NOT NULL)),
    FOREIGN KEY (office_id) REFERENCES offices(office_id),
    FOREIGN KEY (contract_id) REFERENCES sale_contracts(contract_id),
    FOREIGN KEY (lease_id) REFERENCES rental_leases(lease_id)
);
"""

In [8]:
with engine.connect() as connection:
    connection.execute(text(create_tables_sql))

In [11]:

dataset = pd.ExcelFile('/Users/angelhuang/Desktop/modified_dataset_sample.xlsx')
for sheet_name in dataset.sheet_names:
    df = pd.read_excel('/Users/angelhuang/Desktop/dataset_sample.xlsx', sheet_name=sheet_name)
    df.to_sql(sheet_name, con=engine, index=False, if_exists='append')